:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0px;
}

app-square {
  border: 1px black solid;
  height: 200px;
}
